:root {
  --color-1: #cc3700;
  --color-1: white;
  --color-2: black;
  --text-blur: 1px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-1);
  font-family: 'Archivo', sans-serif;
  font-style: italic;
}

/* Main */

.row {
  width: 100vw;
  height: 25vh;
  display: flex;
  align-items: flex-end;
}

h1.menu-item-header {
  font-size: 90px;
  margin-left: 20px;
  transition: transform .2s ease-out, color .3s;
}

h1.menu-item-header:hover {
  cursor: pointer;
}

.content-wrapper {
  height: 0px;
  overflow: hidden;
  transition: height .2s linear;
  padding: 0 15vw;
  display: flex;
}

section.bg-color-1 {
  color: var(--color-2)
}

section.bg-color-2 {
  color: var(--color-1);
}

/* Utilities */

.bg-color-1 {
  background-color: var(--color-1);
}

.bg-color-2 {
  background-color: var(--color-2);
}

.text-color-1 {
  color: var(--color-1);
}

.text-color-2 {
  color: var(--color-2);
}

.text-color-1-animated:hover {
  color: var(--color-2);
  transform: translateX(20px);
}

.text-color-2-animated:hover {
  color: var(--color-1);
  transform: translateX(20px);
}

.text-border-color-1 {
  text-shadow: -1px -1px 0 var(--color-1), 1px -1px 0 var(--color-1), -1px 1px 0 var(--color-1), 1px 1px 0 var(--color-1);
}

.text-border-color-2 {
  text-shadow: -1px -1px 0 var(--color-2), 1px -1px 0 var(--color-2), -1px 1px 0 var(--color-2), 1px 1px 0 var(--color-2);
}

.translate {
  transform: translateX(20px);
}
