:root {
  --color-1: #ad2507;
  --color-1: white;
  --color-2: black;
  --font-family-primary: 'Archivo', sans-serif;
  --font-family-inputs: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-1);
  font-family: var(--font-family-primary);
  font-size: 1.2em;
}

button {
  border: none;
  border-radius: 12px;
  font-family: var(--font-family-primary);
  font-style: italic;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 10px;
}

a {
  text-decoration: none;
}

/* COMMON */

.row {
  width: 100vw;
  height: 25vh;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}

h1.menu-item-header {
  font-size: 5.5rem;
  font-style: italic;
  margin-left: 20px;
  transition: transform .2s ease-out, color .3s;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none ;
}

.bg-color-2 .close-btn {
  color: white;
} 

/* Mobile */
@media screen and (max-width: 600px) {
  .row {
    align-items: center;
    justify-content: center;
  }

  h1.menu-item-header {
    font-size: 3.5rem;
    margin: 0;
  }
}

h1.menu-item-header:hover {
  cursor: pointer;
}

.content-wrapper {
  height: 0px;
  overflow: hidden;
  transition: height .2s linear;
  display: flex;
  justify-content: center;
}

section.bg-color-1 {
  color: var(--color-2);
}

section.bg-color-2 {
  color: white;
}

section.bg-color-2 button {
  border: 1px solid white;
  color: white;
  background-color: var(--color-2);
  font-family: var(--font-family-primary);
  transition: background-color .3s, color .3s;
}

section.bg-color-2 button:hover {
  background-color: white;
  color: var(--color-2);
}

/* UTILITIES */

.bg-color-1 {
  background-color: var(--color-1);
}

.bg-color-2 {
  background-color: var(--color-2);
}

.text-color-1 {
  color: var(--color-1);
}

.text-color-2 {
  color: var(--color-2);
}

.text-color-1-animated:hover {
  color: var(--color-2);
  transform: translateX(20px);
}

.text-color-2-animated:hover {
  color: var(--color-1);
  transform: translateX(20px);
}

.text-border-color-1 {
  text-shadow: -1px -1px 0 var(--color-1), 1px -1px 0 var(--color-1), -1px 1px 0 var(--color-1), 1px 1px 0 var(--color-1);
}

.text-border-color-2 {
  text-shadow: -1px -1px 0 var(--color-2), 1px -1px 0 var(--color-2), -1px 1px 0 var(--color-2), 1px 1px 0 var(--color-2);
}

.translate {
  transform: translateX(20px);
}

/* Mobile */
@media screen and (max-width: 600px) {
  .translate, .text-color-1-animated:hover, .text-color-2-animated:hover {
    transform: none;
  }
}

.btn:hover {
  cursor: pointer;
}

.center-link {
  text-align: center;
}

/* PROJECT PAGE */

#projects {
  display: flex;
  margin-top: 12vh;
}

#projects h2 {
  text-align: center;
  margin-bottom: 18px;
}

#afterclass-logo {
  font-family: 'Bungee', cursive;
  font-size: 1.8rem;
  display: block;
  text-align: center;
  margin-bottom: 18px;
  color: black;
}

#calorie-tracker-logo {
  color: #333;
  font-family: 'Bungee', cursive;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 700;
}

.project-box {
  width: 30vw;
  line-height: 2.2rem;
  font-size: 1.1rem;
}

.project-box p {
  margin-bottom: 12px;
}

.project-link {
  color: gray;
  text-align: center;
  display: block;
  font-weight: 500;
}

.project-link:hover {
  color: lightgray;
}

#project-divider {
  width: 1px;
  background: lightgray;
  height: 40vh;
  margin-left: 55px;
  margin-right: 55px;
}

/* CONTACT PAGE */

#contact-page {
  padding-top: 10vh;
  display: flex;
  justify-content: space-between;
}

form {
  margin-right: 50px;
}

form div {
  margin-bottom:20px;
}

form input {
  padding: 1px 3px;
  font-family: var(--font-family-inputs);
  font-size: .8em;
  width: 240px;
}

#message-label {
  display: block;
  margin: 30px 0 20px 0;
}

#contact-page textarea {
  width: 100%;
  padding: 6px;
  font-family: var(--font-family-inputs);
  font-size: 1em;
  resize: none;
}

#contact-page p {
  margin-top: 5px;
}

form label {
  margin-right: 8px;
}

#submission-message {
  display: inline-block;
  font-weight: bolder;
}

#submit-btn {
  display: inline-block;
  margin-top: 10px;
  margin-right: 16px;
}

/* Mobile */
@media screen and (max-width: 600px) {
  #contact-page {
    flex-direction: column;
    padding: 0 20px 0 20px;
    font-size: 22px;
  }

  form {
    margin: 0;
  }

  form div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  input {
    margin-top: 5px;
  }

  #submit-btn {
    margin-bottom: 10px;
  }

  #contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* ABOUT PAGE */

#about-page {
  width: 70vw;
  line-height: 2.2rem;
  display: flex;
  justify-content: center;
}

#about-page p {
  margin-top: 20vh;
  width: 50vw;
}

#about-page span {
  font-size: 1.8em;
  display: block;
  margin-bottom: 15px;
}

/* Mobile */
@media screen and (max-width: 600px) {
  #about-page p {
    width: 100%;
    margin-top: 5vh;
  }
}

/* RESUME PAGE */

embed {
  width: 800px;
  height: 520px;
  margin-top: 40px;
  border: 5px solid #323639;
}
